/* Style for the password field container */
.password-field,
.password-confirm-field {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.password-field input,
.password-confirm-field input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Adjust padding to make space for the icon */
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding doesn't overflow */
}

/* Style for the toggle password button (the eye icon) */
.toggle-password-btn {
    position: absolute;
    top: 50%;
    right: 15px; /* Distance from the right edge */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0; /* Remove any padding from the button */
}

.toggle-password-btn i {
    pointer-events: none; /* Allow the button click but not the icon itself */
}




/* login */
